/* IMPOSTAZIONI GENERALI */


body {
    background-image: url("sfondo.png");
    margin:17px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4rem;
}
/* HEADER */

header {
    width: 868px;
    height:168px;
    padding: 1em;
    border: 1px;
    border-radius: 0.5rem;
    box-shadow: 20px grey;
    margin: 10px;
    box-sizing: content-box;
    background-color: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1)0% , rgba(3,109,134,1)68%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    
    

} 

/* MAIN */

main {
    width: 868px;
    height:100%;
    border: 1px;
    border-radius: 0.5rem;
    margin: 10px;
    box-sizing: content-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: auto;
    align-items:center;
    padding:20px;
    
    
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-family:'Kanit', sans-serif;
    line-height: 5rem;
    font-size: x-large;
    text-align:center;

}
h2 {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    font-size: 10pt;
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
}

h2,h3,h4 {
    display: flex;
    flex-direction: column;
}

#viola {
    color: blueviolet;
    font-weight: 600;
}

p{
    font-style: italic;
    padding: 1em;
    font-weight: 800;
}




/* TABELLE */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}


/* FORM */

.sezionevideo {
    padding: 1em;
    text-align: justify;
}

iframe {
    padding: 1.5em;
    border-radius: 3em; 
}

.form {
    width: 700px;
    height:190px;
    padding: 3em;
    border: 1px;
    box-shadow: 20px grey;
    margin: 10px;
    box-sizing: content-box;
    background-color: rgb(157, 177, 181);
    flex-direction: column;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    

}


/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
    width: 868px;
    height:168px;
    padding: 1em;
    border: 1px;
    border-radius: 0.5rem;
    box-shadow: 20px grey;
    margin: 10px;
    box-sizing: content-box;
    background-color: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1)0% , rgba(3,109,134,1)68%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;

}